@mixin flex ($j-c,$a-i,$f-d) {
    display: flex;
    justify-content: $j-c; 
    align-items: $a-i;
    flex-direction: $f-d;
    
}
@mixin video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}